<style>
    .cropper-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999; /* Make sure it's above the image */
}
    .preview-container {
      display: inline-block;
      position: relative;
    }
    .delete-btn {
      position: absolute;
      bottom: 15px;
      right: 40%;
      background-color:#3BB77E ;
      color:rgb(255, 255, 255)  ;
      border: none;
      border-radius: 20%;
      cursor: pointer;
    }
    .image-preview {
      max-width: 200px;
      max-height: 200px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    #sizeDropdown{
        color: rgba(0, 0, 0, 0.703);
        background-color:#f4f5f9;
        border: none;
        height: 5vh;
        width: 8vh;
        border-radius: 4px;
        font-size: small;
    }
  </style>
  <!-- Add these lines inside the <head> tag of your HTML file -->


<%-include ('../layouts/header')%>
            <section class="content-main">
                <form action="/admin/add_pro"  method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
                    
                <div class="row">
                    <div class="col-9">
                        <div class="content-header">
                            <h2 class="content-title">Add New Product</h2>
                        </div>
                    </div>
          
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="mb-4">
                                   
                                        
                                        
                                        
                                      
                                    
                                    <label for="product_title" class="form-label">Product title</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_title" name="title"  />
                                </div>
                                <div class="row gx-3">
                                   
                                    <div class="col-md-4 mb-3">
                                           
                                            <div class="form-group">
                                                <label for="sizeDropdown">size</label>
                                                <select  id="sizeDropdown" name="size">
                                                    <option value="XS">XS</option>
                                                    <option value="S">S</option>
                                                    <option value="M">M</option>
                                                    <option value="L">L</option>
                                                    <option value="XL">XL</option>
                                                
                                                </select>
                                            </div>
                                                                                
                                       
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label for="product_brand" class="form-label">Brand</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_brand" name="brand" />
                                </div>  
                            </div>
                        </div>
                        <!-- card end// -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <div>
                                    <label class="form-label">Description</label>
                                    <textarea placeholder="Type here" class="form-control" rows="4" name="description" id="product_description"></textarea>
                                </div>
                            </div>
                        </div>
                    
                        <div class="card mb-4">
                            <div class="card-body">
                                <div>
                                    <label class="form-label">Images</label>
                                    <div style="text-align: center;">
                                    <input class="form-control imglist" type="file" name="images" style="float: left;" id="image1" onchange="validateAndPreviewImage(event,'imagePreview1','removePrivew1')"  accept="image/png,image/jpeg"/>
                                    <img id="imagePreview1" style="display: none;height: 250px; width:250 px;" onclick="imageCrope(this,saveButton1,removePrivew1)"></img>
                                    <button class="btn btn-md rounded font-sm " style="display: none;" type="button" id="saveButton1">save crop imgae</button>
                                    <!-- <button class="btn btn-md rounded font-sm " style="display: none;" type="button" id="resetButton1">reset image</button> -->
                                    <button id="removePrivew1" type="button" style="display:none;" onclick=" return removeImage(this,imagePreview1,image1)" class="btn btn-md rounded font-sm "> remove</button>
                                   </div>
                                   <div style="text-align: center;">
                                    <input class="form-control imglist" type="file" name="images" style="float: left;" id="image2" onchange="validateAndPreviewImage(event,'imagePreview2','removePrivew2')"  accept="image/png,image/jpeg"/>
                                    <img id="imagePreview2" style="display: none;height: 250px; width:250 px;" onclick="imageCrope(this,saveButton2,removePrivew2)"></img>
                                    <button class="btn btn-md rounded font-sm " style="display: none;" type="button" id="saveButton2">save crop imgae</button>
                                    <button id="removePrivew2" style="display:none;" onclick="return removeImage(this,imagePreview2,image2)" class="btn btn-md rounded font-sm" type="button"> remove</button>
                                    </div>
                                   <div style="text-align: center;">
                                    <input class="form-control imglist" type="file" name="images" style="float: left;" id="image3" onchange="validateAndPreviewImage(event,'imagePreview3','removePrivew3')"  accept="image/png,image/jpeg"/>
                                    <img id="imagePreview3" style="display: none;height: 250px; width:250 px;" onclick="imageCrope(this,saveButton3,removePrivew3)"></img>
                                    <button class="btn btn-md rounded font-sm " style="display: none;" type="button" id="saveButton3">save crop imgae</button>
                                    <button id="removePrivew3" style="display:none;" onclick="return removeImage(this,imagePreview3,image3)" class="btn btn-md rounded font-sm" type="button"> remove</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                    </div>
                    <div class="col-lg-3">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="mb-4">
                                    <label class="form-label">Price</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="price" id="product_price"/>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Stock</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="quantity" id="product_quantity"/>
                                </div>
                              
                                
                                 <hr />
                                <h5 class="mb-3">Categories</h5>
                                <%category.forEach((value)=>{%>
                                <div class="form-check">
                                    <input class="form-check-input procheck" type="checkbox" value="<%=value._id %>" id="product_cat" name="checkbox1" onchange="tick('<%=value._id %>')"/>
                                    <label class="form-check-label" for="product_cat"><%=value.name %></label>
                                </div>
                                    <% })%>
                                   
                                
                            </div>
                        </div>
                        <div>
                            <input class="btn btn-md rounded font-sm" type="submit"></input>
                        </div>
                    
                    </div>
             
                 
                </div>
            </form>  
            </section>
            <script>

function imageCrope(imagePreview, saveButton, removeButton) {
    saveButton.style.display = 'inline-block';
    removeButton.style.display = 'none';

    const cropper = new Cropper(imagePreview, {
        aspectRatio: 9 / 12,
        zoomable: false,
        crop: function(event) {
           
        }
    });

    saveButton.addEventListener('click', function() {
        const croppedCanvas = cropper.getCroppedCanvas();
        if (croppedCanvas) {
            const croppedImageDataURL = croppedCanvas.toDataURL('image/jpeg');
            imagePreview.src = croppedImageDataURL;
            croppedCanvas.toBlob(function(blob) {
                // Here you can upload the Blob to a server or manipulate it as needed
                console.log('Cropped image Blob:', blob);
                // Example: upload the blob to the server
                uploadCroppedImage(blob);
            }, 'image/jpeg');
            imagePreview.style.display = 'inline-block';
            saveButton.style.display = 'none';
            removeButton.style.display = 'block';
            removeButton.style.marginLeft = '13rem';
            cropper.destroy();
        } else {
            console.error('Failed to get cropped canvas.');
        }
    });
}
function uploadCroppedImage(blob) {
    const formData = new FormData();
    formData.append('croppedImage', blob, `croppedImage.jpg`);

    fetch('/admin/upload', {
        method: 'POST',
        body:formData
    })
    .then(response => response.json())
    .then(data => console.log('Success:', data))
    .catch(error => console.error('Error:', error));
}

                

                





         




  
       function validateAndPreviewImage(event, previewId,removePrivew1) {
        
    const file = event.target.files[0];
    const validImageTypes = ["image/jpeg", "image/png"];
    if (!file) {
        Swal.fire({
        icon: 'info',
        text: 'No file selected.'
    });
        return false;
    }
    if (!validImageTypes.includes(file.type)) {
        Swal.fire({
        icon: 'info',
        text: 'Please upload a valid image file (PNG or JPEG)'
    });
        event.target.value = ""; 
        return false;
    }
    const reader = new FileReader();
    reader.onload = function () {
        const output = document.getElementById(previewId);
        document.getElementById(removePrivew1).style.display='block'
        document.getElementById(removePrivew1).style.marginLeft='13rem'
        output.src = reader.result;
        output.style.display = 'inline-block'; 
        
    }
    reader.readAsDataURL(file);
    return true 
}
function removeImage(tag,image,image1){
    image.style.display='none'
    image.src=''
    tag.style.display='none'
    image1.value=''
}
// =================================================================================================
function isAnyCheckboxChecked() {
 
    let checkboxes = document.getElementsByClassName('procheck');
    
    for (let checkbox of checkboxes) {
         if (checkbox.checked) {
            return true;
        }
    }
    return false;
}
function validateForm() {

        var title = document.getElementById('product_title').value.trim()
        var brand = document.getElementById('product_brand').value.trim()
        var description = document.getElementById('product_description').value.trim()
        var price = document.getElementById('product_price').value.trim()
        var quantity = document.getElementById('product_quantity').value.trim()
        const image1 = document.getElementById('image1').files.length > 0;
        const image2 = document.getElementById('image2').files.length > 0;
        const image3 = document.getElementById('image3').files.length > 0;

    
    
        
        if (title===''||brand==='' ||description===''||price ===''||quantity==='') {
        Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: 'Fill out all the fields!',
    });
            return false
        }
        if (!image1 || !image2 || !image3) {
        Swal.fire({
        icon: 'info',
        text: 'Please select an image for all three inputs'
    });
       
        return false; 
    }
        
        if (isNaN(parseFloat(price))) {
        Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: 'price must be number',
    });
            return false
        }
        if(price<=0){
        Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: 'its a negavite number!!!',
    });
            return  false
        }
        if (isNaN(parseFloat(quantity))) {
        Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: 'quantity must be number',
    });
            return false
        }
        if(quantity<0){
        Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: 'stock should be positive!!!',
    });
            return  false
        }

        if (isAnyCheckboxChecked()) {
             return true
        } else {
             Swal.fire({
         icon: 'error',
         title: 'Oops...',
         text: 'Select at one category',
             });
             return false
        }

        
    
     return true
    }


    
    function tick(id){
			const checkboxes=document.getElementsByClassName('procheck')
          
			for (let checkbox of checkboxes) {
					if(checkbox.value==id){
						checkbox.checked=true
          
					}else{
						checkbox.checked=false
					}
				
       
            }
		 }
    


            </script>
            

          
           <%-include('../layouts/footer')%>