<style>
	.coupons{
		padding: 2rem;
	}
	.codeds:hover{
	   cursor: pointer;
	}
</style>

<%-include('../layouts/userheader')%>

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Checkout<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/cart">Shopping Cart</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="checkout">
					<%if(product.length>=1){%>
						
	                <div class="container">
            			<div class="checkout-discount">
            				<div class="cart-discount">
                                <form action="/couponVerifiction"  method="post" id="couponVerifiction">
                                    <div class="input-group">
										
										
										
                                        
                                        <%if(!couponStatus){%>
											<input type="text" id="couponInput" class="form-control" required placeholder="coupon code" name="coupon_code">	
											<!-- <select id="couponInput" placeholder="coupon code" class="form-control" required name="coupon_code">
												
											</select>										 -->
											<div class="input-group-append">
											<button class="btn btn-outline-primary-2" type="submit"  style="height:4rem;"><i class="icon-long-arrow-right"></i></button>	
											</div><!-- .End .input-group-append -->
											<%}else{%>
											<input type="text" class="form-control" required placeholder="code appied" name="coupon_code"disabled >
											<div class="input-group-append">
											<button class="btn btn-outline-primary-2" type="button" onclick="reCoupon('<%=couponStatus._id%>')"  style="height: fit-content; width: 8rem;">REMOVE</button>	
											</div><!-- .End .input-group-append -->
											<%}%>
										
                                    </div><!-- End .input-group -->
                                </form>
                            </div><!-- End .cart-discount -->
            			</div><!-- End .checkout-discount -->
						
            		
						<div class="row">
							<div class="col-lg-9">
									<%if(addressFound){%>
                                    <!-- render the address details -->
                                    <div class="row">
										
										
										<%datas.addresses.forEach((value)=>{%>
								    		<div class="col-lg-6" id="<%=value._id%>">
								    			<div class="card card-dashboard">
								    				<div class="card-body"><h3 class="card-title">Address</h3>
														<p class="addressdetails">name: <%=value.name%> <br>
															address: <%=value.address%> <br>
															email: <%=value.email%> <br>
															country: <%=value.country%> <br>
															city: <%=value.city%> <br>
															state: <%=value.state%> <br>
															pincode: <%=value.pincode%> <br>
															phone: <%=value.phone%> <br>
                                                           select address for delivery &nbsp; <input class="Allcheckbox" id="inputBox" type="checkbox" style="margin:3vh;" required value="<%=value._id%>" onclick="checkfunction('<%=value._id%>')"> 
														</p>
														
														<a href="/editAddressrender?id=<%=value._id%>">Edit<i class="icon-edit"></i></a> &nbsp; &nbsp;
														<a  style="color:  #ff01019a;" onclick="return deletefn('<%=value._id%>')" >Delete <i class="fa fa-trash-o"></i></a></p>
                                                        
								    				</div><!-- End .card-body -->
								    			</div><!-- End .card-dashboard -->
								    		</div><!-- End .col-lg-6 -->
											<%})%>
											
										</div><!-- End .row -->
										<%}%> 
                                        
										<a href="/EditAddress" id="clickone" class="btn btn-outline-primary-2">
											<span>Add Address</span>
											<i class="icon-long-arrow-right"></i>
										</a>
	
		                			</div><!-- End .col-lg-9 -->
                                  
		                		<aside class="col-lg-3">
									
		                			<div class="summary">
		                				<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->
										
		                				<table class="table table-summary">
		                					<thead>
		                						<tr>
		                							<th>Product</th>
		                							<th style="text-align: center;">quantity</th>
		                							
		                							<th>Total</th>
		                						</tr>
		                					</thead>

		                					<tbody>
												
										
										<% let ftotal=0%>
												<%product.forEach((value)=>{%>
											
		                						<tr>
		                							<td><a href="#"></a><%=value.productId.product_name%></td>
		                							<td class="quantity" style="text-align: center;"><%=value.quantity%></td>
													<%if((value.productId.price*value.productId.offerPercentage/100)!==0){%>
														<td class="price"><%=value.productId.price-value.productId.price*value.productId.offerPercentage/100%></td>
														<%ftotal+=value.productId.price-value.productId.price*value.productId.offerPercentage/100%>
														<%}else{%>
															<td class="price"><%=value.productId.price%></td>
															<%ftotal+=value.productId.price%>
															<%}%>
		                							
		                						</tr>
												
												<%})%>
												
		                						<tr class="summary-total">
													
		                							<td >Subtotal:</td>
		                							<td id="sub"><%=total%></td>
		                						</tr><!-- End .summary-subtotal -->
												<%if(couponStatus){%>
													
		                						<tr class="summary-total">
													<h6>coupon applied</h6>
		                							<td >Discount:</td>
		                							<td><%=couponStatus.discountAmount%>%</td>
													
		                						</tr><!-- End .summary-subtotal -->
												
		                						
												<tr class="summary-total">
		                							<td>Total:</td>
		                							<td><%=total-(couponStatus.discountAmount*total/100)%></td>
													<%ftotal-=(couponStatus.discountAmount*total/100)%>
		                						</tr><!-- End .summary-total -->
												<%}%>
												
		                					</tbody>
		                				</table><!-- End .table table-summary -->

		                				<div class="accordion-summary" id="accordion-payment">
										    

												<!-- 										   
											<div>
												<input type="radio" class="collapsed checkAnchor" name="pMethod" value="Cash_on_delivery">Cash on delivery</input>
											</div>
											<div>
												<input  type="radio" class="collapsed checkAnchor" name="pMethod" value="Razorpay">Razorpay</input>
												
											</div>
										           
											 -->
											 <div class="card">
												<% if (ftotal <= 2000) { %>
												<div class="card-header" id="heading-1">
													<h2 class="card-title">
															<a id="Cash on delivery" class="checkAnchor" role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
																Cash on delivery
															</a>
													</h2>
												</div>
												<div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-payment">
													<div class="card-body">
														Cash on Delivery (COD) you can pay for products upon delivery (up to 2000 ₹).
													</div>
												</div>
												<% } else { %>
													<div class="card-header" id="heading-1">
														<h2 class="card-title">
															<a id="Cash on delivery" style="pointer-events: none;" class="collapsed checkAnchor" role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
																Cash on delivery
															</a>
														</h2>
													</div>
													<div id="collapse-1" class="collapse" aria-labelledby="heading-1" data-parent="#accordion-payment">
														<div class="card-body">
															Cash on Delivery (COD) you can pay for products upon delivery (up to 2000 ₹).
														</div>
													</div>



													
												<% } %>
											</div>
											
											<div class="card">
												<div class="card-header" id="heading-2">
													<h2 class="card-title">
														<% if (ftotal <= 2000) { %>
															<a id="Razorpay" class="collapsed checkAnchor" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
																Razorpay
															</a>
														<% } else if(ftotal>2000) { %>
															<a id='Razorpay' class="checkAnchor" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="true" aria-controls="collapse-2">
																Razorpay
															</a>
														<% } %>
													</h2>
												</div>
												<div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-payment">
													<div class="card-body">
														Razorpay provides online payment solutions.
													</div>
												</div>
											</div>
											
											<div class="card">
												<div class="card-header" id="heading-3">
													<h2 class="card-title">
														<% if (ftotal) { %>
															<a id="Wallet"  onclick="tickcheck(this)" class="collapsed checkAnchor" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
																Wallet
															</a>
														<% }%>
														
													</h2>
												</div>
												<div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
													<div class="card-body">
														You can make payments using your wallet amount.
													</div>
												</div>
											</div>
											


											<!-- wallet payment -->

										    
										            

										    
										</div><!-- End .accordion -->

										<%if(addressFound && datas.addresses.length>0){%>
											
												
												
										<%if(couponStatus){%>

											<button onclick="return Place_Order('<%=couponStatus._id%>','<%=couponStatus.discountAmount%>')" class="btn btn-outline-primary-2 btn-order btn-block">
												<span class="btn-text">Place Order</span>
												<span class="btn-hover-text">Proceed to Checkout</span>
											</button>
											
											<%}else{%>
		                				<button onclick="return Place_Order()" class="btn btn-outline-primary-2 btn-order btn-block">
		                					<span class="btn-text">Place Order</span>
		                					<span class="btn-hover-text">Proceed to Checkout</span>
		                				</button>
										<%}%>

									

										<%}else{%>
											<br>
											<button onclick="return Place_Order()" class="btn btn-outline-primary-2 btn-order btn-block" disabled>
												<span class="btn-text">Place Order</span>
												<span class="btn-hover-text">Add  Address to Proceed</span>
											</button>
											
											
											<%}%>
		                			</div><!-- End .summary -->
									
		                		</aside><!-- End .col-lg-3 -->
		                	</div><!-- End .row -->
            			
					    </div><!-- End .container -->
						

					

							<%}else{%>
							<div class="container" style="text-align: center;">
								<div id="cart">
									<h2 >No products in your cart</h2>
								
									<a href="/product">Add Product</a>
								</div>
							</div>
						
						<%}%>
									</div><!-- End .checkout -->
							</div><!-- End .page-content -->
						</main><!-- End .main -->





						<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
	Launch demo modal
  </button> -->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="padding: 1rem; width: 40rem;">
            <div class="modal-header "  >
                <h5 style="padding-left: 8rem;" id="exampleModalLongTitle" >Available Coupons</h5>
                <button type="button" class="close text-black" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
			
			<div id="couponsContainer" style="text-align: center;"></div>
            <div class="modal-footer">
                <button  type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

		








		<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

		
        <script>
			function tickcheck(tag) {
    let rop = document.getElementById('Razorpay');
    let wallet = document.getElementById('Wallet');
    if (tag.id === wallet.id) {
        console.log("entering rop");
        rop.setAttribute('aria-expanded', 'false');
        rop.classList.add('checkAnchor', 'collapsed');
        rop.classList.remove('expanded'); 

    }
}











			document.getElementById('couponInput').addEventListener('click', () => {

				$('#exampleModalCenter').modal('show');
    const product = `<%- JSON.stringify(product) %>`;
    
    fetch('/fetchAvaliableCoupon', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ datas: product })
    })
    .then(response => response.json())
    .then(data => {
		const couponsContainer = document.getElementById('couponsContainer');
        couponsContainer.innerHTML = '';  

        if (data && data.length > 0) {
            data.forEach(coupon => {
				const couponElement = document.createElement('div');
                couponElement.className = 'coupons';
                
                couponElement.innerHTML = `
            <h6>${coupon.name} 
                <span onclick="copyCoupon('${coupon._id}')" id="code${coupon._id}" class="bg-primary codeds" data-toggle="tooltip" title="Copy">${coupon.code}</span>
                (${coupon.discountAmount}% OFF)
            </h6>`;

                couponsContainer.appendChild(couponElement);
            });
        } else {
            couponsContainer.innerHTML = '<p>No available coupons.</p>';
        }
		
    
    

	
    })
    .catch(error => {
        console.error('Error:', error);
    });
});
function copyCoupon(couponId) {
    const couponCode = document.getElementById(`code${couponId}`).textContent;
    navigator.clipboard.writeText(couponCode)
        .then(() => {
         
			document.getElementById('couponInput').value=couponCode
			$('#exampleModalCenter').modal('hide');
        })
        .catch(err => {
            console.error('Failed to copy coupon code: ', err);
            alert('Failed to copy coupon code. Please try again.');
        });
}








            function deletefn(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: `Do you want to delete ?`,
                    icon: 'warning',
                    showCancelButton:true,
                    confirmButtonText: 'Yes,delete it',
                }).then((result) => {
                    if (result.isConfirmed) {
                        fetch('/deleteAddress?id='+id,{method:'delete'})
                        const row=document.getElementById(id)
                        row.style.display='none';
						window.location.reload()
                        return true
                        
                    }else{
                        return false
                    } 
                });
          
                
            }
			
        </script>
		<script>
		
		 function checkfunction(id){
			const addressform=document.getElementById('orderAddress')
			const checkboxes=document.getElementsByClassName('Allcheckbox')
			for (let checkbox of checkboxes) {
					if(checkbox.value==id){
						checkbox.checked=true
					}else{
						checkbox.checked=false
					}
            }
		 }
		 </script>
		 <script>
		 
		 window.onload=function(){
			const id=document.getElementById('inputBox').value
			const addressform=document.getElementById('orderAddress')
			const checkboxes=document.getElementsByClassName('Allcheckbox')
			const couponVerifiction=document.getElementById('couponVerifiction')
		
			if(checkboxes.length==1){
				for (let checkbox of checkboxes) {
					checkbox.checked=true
				}
			}

if('<%=Cmsg%>'){
			Swal.fire({
                    title: 'ERROR',
                    text: '<%=Cmsg%>',
                    icon: 'error',
                    
                })
		}
		if('<%=Csmsg%>'){
			Swal.fire({
                    title: 'Success',
                    text: '<%=Csmsg%>',
                    icon: 'success',
                    
                })
		}



		 }
		

		 function Place_Order(couponId,discount){

		
					
			        const id=document.getElementById('inputBox').value
					const checkAnchor=document.querySelectorAll('.checkAnchor')
					
					
					checkAnchor.forEach((element) => {
						
						if (element.ariaExpanded === "true") {

						
							if(element.innerHTML.trim()=="Cash on delivery"){
								if(couponId==undefined && discount==undefined){
									
									fetch('/Order?id='+id+'&total='+'<%=total%>',{method:'post'})
									.then(response=>response.json())
									.then(data=>{
										
										Swal.fire({
										icon: data.icon,
										title: data.title,
										text: data.text,
										showCancelButton: true,  
										confirmButtonText: 'Purchase More',
										}).then((result) => {
										
										if (result.isConfirmed) {
											window.location.href = '/product';  
										} else {
											window.location.href = '/personalInfo'
										}
								});
									})
									
								}else{
									
									
									const discoundAmd='<%=total%>'-(discount*'<%=total%>'/100)
									fetch('/Order?id='+id+'&total='+discoundAmd+'&couponId='+couponId+'&couponpercentage='+discount,{method:'post'})
									.then(response=>response.json())
									.then(data=>{
										
										Swal.fire({
										icon: data.icon,
										title: data.title,
										text: data.text,
										showCancelButton: true,  
										confirmButtonText: 'Purchase More',
										}).then((result) => {
										
										if (result.isConfirmed) {
											window.location.href = '/product';  
										} else {
											window.location.href = '/personalInfo'
										}
								});
									})


								}

		 

							}
							// cod======================================================================================================
							else if(element.innerHTML.trim()=="Razorpay"){
								
								if(couponId==undefined && discount==undefined){
									// console.log("enter undefinder")
								
									fetch('/razorpay?total=<%=total%>',{method:"post", headers: {'Content-Type': 'application/json'}})
									.then(response => response.json())
									.then(res => {
									if (res.success) {
									var options = {
										"key": res.key_id,
										"amount": res.amount,

										"currency": "INR",
										"name": res.product_name,
										"description": res.description,
										"image": "https://dummyimage.com/600x400/000/fff",
										"order_id": res.order_id,
										"handler": function (response){
											fetch('/Order?id='+id+'&total='+'<%=total%>'+'&payment='+"razorpay",{method:'post'})
											
											window.location.href = '/razorpayError?status=success';		
														// 		Swal.fire({
														// 				icon: 'success',
														// 				title: 'Order Saved!',
														// 				text: 'Your order has been successfully saved.',
														// 				showCancelButton: true,  
														// 				confirmButtonText: 'Purchase More Products',
														// }).then((result) => {
														
														// if (result.isConfirmed) {
														// 	window.location.href = '/product';  
														// } else {
														// 	window.location.href = '/personalInfo'
														// }
														// 		});
                           
													},
													"prefill": {
														"contact": res.contact,
														"name": res.name,
														"email": res.email
													},
													"notes" : {
														"description": res.description
													},
													"theme": {
														"color": "#2300a3"
													}
												};
												var razorpayObject = new Razorpay(options);
												razorpayObject.on('payment.failed', function (response){
													fetch('/Order?id='+id+'&total='+'<%=total%>'+'&payment='+"razorpay&paymentStatus=failed",{method:'post'})
												
													razorpayObject.close();
													window.location.href = '/razorpayError?status=faile';
													

												});
												razorpayObject.open();
											}
									})
									.catch((error) => {
										console.error('Error:', error);
									});
								}
								else{
									
									
									const discoundAmd='<%=total%>'-(discount*'<%=total%>'/100)
									

								fetch('/razorpay?total='+discoundAmd,{method:"post", headers: {'Content-Type': 'application/json'}})
								.then(response => response.json())
								.then(res => {
									if (res.success) {
								var options = {
								"key": res.key_id,
								"amount": res.amount,
								"currency": "INR",
								"name": res.product_name,
								"description": res.description,
								"image": "https://dummyimage.com/600x400/000/fff",
								"order_id": res.order_id,
								"handler": function (response){
									fetch('/Order?id='+id+'&total='+discoundAmd+'&couponId='+couponId+'&couponpercentage='+discount+'&payment='+"razorpay",{method:'post'})
									

								Swal.fire({
									icon: 'success',
									title: 'Order Saved!',
									text: 'Your order has been successfully saved.',
									showCancelButton: true,  
									confirmButtonText: 'Purchase More Products',
									}).then((result) => {
									
									if (result.isConfirmed) {
										window.location.href = '/product';  
									} else {
										window.location.href = '/personalInfo'
									}
								});

								},
								"prefill": {
								"contact": res.contact,
								"name": res.name,
								"email": res.email
								},
								"notes" : {
								"description": res.description
								},
								"theme": {
								"color": "#2300a3"
								}
								};
								var razorpayObject = new Razorpay(options);
								razorpayObject.on('payment.failed', function (response){
								alert("Payment Failed");
								});
								razorpayObject.open();
								}
								})
								.catch((error) => {
									console.error('Error:', error);
								});
								}
								// wallet payment starts here ....................................
							}else if(element.innerHTML.trim()=="Wallet"){
								if(couponId==undefined && discount==undefined){

								fetch('/Order?id='+id+'&total='+'<%=total%>'+'&Wallet='+"wallet",{method:'post'})
									.then(response=>response.json())
									.then(data=>{
										if(data.icon==='success'){

											window.location.href = '/razorpayError?status=success';	
										}else if(data.icon==='error'){
											
											window.location.href = '/razorpayError?status=faile';

										}
										
										
									})

							}else{

								const discoundAmd='<%=total%>'-(discount*'<%=total%>'/100)
									fetch('/Order?id='+id+'&total='+discoundAmd+'&couponId='+couponId+'&couponpercentage='+discount,{method:'post'})
									.then(response=>response.json())
									.then(data=>{
										if(data.icon==='success'){

											window.location.href = '/razorpayError?status=success';	
											}else if(data.icon==='error'){
										
											window.location.href = '/razorpayError?status=faile';

											}
									})

							}
						}else{
							Swal.fire({
							title: 'Payment Method',
							icon:'error',
							text:'Select any payment method',
							timer: 3000
							
						});
						return

						}
						       // wallet payment starts here ....................................

						}
					})
							

		 }




		function reCoupon(id){
			fetch('/removeCoupon?id='+id,{method:'post'})
		
			location.reload();
			
			
		}
		 
		</script>

        <%-include('../layouts/userfooter')%>    