
<style>
	* {
    animation: none !important;
    transition: none !important;
}

	/* .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
} */

.container {
    padding-left: 20px;
    width: 100%;
}

.container > .pl-5 {
    padding-left: 20px;
    width: calc(100% - 40px);
}
	.coupon-card {
		
		background-color: black;
		border: 8px solid hwb(20 65% 33%);
		border-radius: 2px;
		padding: 10px;
		margin: 10px;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	}
	.coupon-card h3 {
		margin-bottom: 20px;
	}
	.coupon-details p {
		margin: 5px 0;
	}

	.wallet-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            width: 50rem;
            text-align: center;
        }
        .wallet-container h1 {
            margin-bottom: 20px;
        }
        .wallet-balance {
            font-size: 20px;
            margin-bottom: 15px;
        }
        .transaction-history {
            text-align: left;
            margin-bottom: 20px;
        }
        .transaction-history p {
            margin: 5px 0;
        }
        .wallet-container button {
            padding: 10px 20px;
            background-color: #c69c61;
            color: #ffffff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin: 5px 0;
            width: calc(100% - 22px);
        }
        .wallet-container button:hover {
            background-color: #c69c61;
        }
		
        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }
        input[type="text"] {
            width: 15rem;
            padding: 10px;
            margin-bottom: 12px;
            border: 1px solid #ced4da;
            border-radius: 4px;
            box-sizing: border-box;
        }
        input[type="submit"] {
            background-color:#c69c61;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        input[type="submit"]:hover {
            background-color: #c69c61;
        }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<%-include('../layouts/userheader')%>
	
        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">My Account<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/homePage">Home</a></li>
                        
                        <li class="breadcrumb-item active" aria-current="page">Profile</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="dashboard">
	                <div class="container">
	                	<div class="row">
	                		<aside class="col-md-4 col-lg-3">
	                			<ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
								    <li class="nav-item">
								        <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Personal INFO</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads" role="tab" aria-controls="tab-downloads" aria-selected="false">Coupons</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-wallet-link" data-toggle="tab" href="#tab-wallet" role="tab" aria-controls="tab-wallet" aria-selected="false">Wallet</a>
								    </li>
								   
								   
								</ul>
	                		</aside><!-- End .col-lg-3 -->
							
	                		<div class="col-md-8 col-lg-9">
	                			<div class="tab-content">
								    <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
									
										<span>NAME :<%=data.User_name%>  </span><br>
                                      <span>EMAIL :<%=data.User_email%>  </span> <br>
                                      <span>PHONE :<%=data.User_number%>  </span> <br>
									 <span>refferal code :<%=data.referalCode%></span><br>
									 Edit your <a href="#tab-account" class="tab-trigger-link" data-toggle="modal" data-target="#One">password</a> and account <a href="#tab-account" class="tab-trigger-link" data-toggle="modal" data-target="#exampleModal">details</a>
								    </div><!-- .End .tab-pane -->
									<!-- Button trigger modal -->
									

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		
		<div class="modal-body" style="padding: 5vh;">
			<form id="addressForm" action="/edituser" method="post" onsubmit="return validateForm()">
				<div class="row">
					<div class="col-sm-12">
						<label>Name *</label><span id="nameError" style="color: red;"></span>
						<input type="text" class="form-control" id="name" name="name"  value="<%=data.User_name%>">
					</div>
					
					<div class="col-sm-12">
						<label>Email *</label><span id="emailError" style="color: red;"></span>
						<input type="email" class="form-control" id="email" name="email" value="<%=data.User_email%>">
					</div>
					<div class="col-sm-12">
						<label>Phone *</label><span id="phoneError" style="color: red;"></span>
						<input type="text" class="form-control" id="phone" name="phone" value="<%=data.User_number%>">
					</div>
					
					
					<div class="col-sm-6" style="display: none;">
						<label>password *</label>
						<input type="text" class="form-control" id="password" name="password" value="">
					</div>
					<div class="col-sm-6" style="display: none">
						<label>re-password *</label> &nbsp;<span id="re-password" style="color: red;"></span>
						<input type="text" class="form-control" id="re-password"  name="re-password" value="">
					</div>
				
					
				</div>
				
				
				<button type="submit" class="btn btn-outline-primary-2">
					
					<span>Save New password</span>
					<i class="icon-long-arrow-right"></i>
				</button>
				<br>
			</form>
		</div>
		
	  </div>
	</div>
  </div>
  <!-- change password modal -->
  <div class="modal fade" id="One" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		
		<div class="modal-body" style="padding: 5vh;">
			<form id="addressFormpassword" action="/userpassword" method="post" onsubmit="return passvalidateForm()">
				<div class="row">
				
					<div class="col-sm-6">
						<label>New password *</label><span id="passwordError" style="color: red;"></span>
						<input type="text" class="form-control" id="newpassword" name="password" value="">
					</div><br>
					<div class="col-sm-6" >
						<label>re-password *</label> &nbsp;<span id="repasswordError" style="color: red;"></span>
						<input type="text" class="form-control" id="repassword"  name="re_password" value="">
					</div>
					<div class="col-sm-6" >
						<span id="repas" style="color: red;"></span>
					</div>
				
					
				</div>
				
				
				<button type="submit" class="btn btn-outline-primary-2">
					
					<span>Save changes</span>
					<i class="icon-long-arrow-right"></i>
				</button>
				<br>
			</form>
		</div>
		
	  </div>
	</div>
  </div>
  <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
    <div class="table-responsive"> 
		<%if(orderfound && order.length>0){%>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark" style="text-align: center; ">
                <tr>
                    <th class="col-sm-2 col-md-2 col-lg-2">Image</th>
                    <th class="col-sm-2 col-md-2 col-lg-2">Name</th>
                    <th class="col-sm-2 col-md-2 col-lg-2">Payment</th>
                    <th class="col-sm-2 col-md-2 col-lg-2">Status</th>
                    <th class="col-sm-2 col-md-2 col-lg-2">Date</th>
                    <th class="col-sm-2 col-md-2 col-lg-2">Action</th>
                </tr>
            </thead>
			
            <tbody>
				
				<%order.reverse().forEach((valueOne)=>{%>
					


					
					<%if(valueOne.OrderedProducts.length>1){%>
					
							
						<%valueOne.OrderedProducts.forEach((value)=>{%>

							<tr  style="text-align: center; background-color: rgb(244, 242, 242);">
					   
					   <td><img src="/proimgs/<%=value.productId.image[2]%>" alt="User Image"></td>
					   <td><%= value.productId.product_name %></td>
					   <%if(value.orderStatus=='Canceled'){%>
						   <td>00.0</td>
						   <%}else{%>
							<% 
							let price = value.productId.price;
							let productOffer = value.productId.offerPercentage || 0;
							let categoryOffer = value.productId.category.offerPercentage || 0;
							let couponOffer = valueOne.couponPercentage || 0;
							let finalPrice = price;
							
						
							if (productOffer && categoryOffer) {
							
								finalPrice -= finalPrice * (Math.max(productOffer, categoryOffer) / 100);
							} else if (productOffer) {
							
								finalPrice -= finalPrice * (productOffer / 100);
							} else if (categoryOffer) {
							
								finalPrice -= finalPrice * (categoryOffer / 100);
							}
							
							
							finalPrice -= finalPrice * (couponOffer / 100);
							%>
							<td><%= finalPrice %></td>
							
							
						   <%}%>
					   <%if(value.returnRequest==true && value.orderStatus!=='Return'){%>
						   <td id="req<%=value._id%>">Requested return</td>
						   <%}else{%>
							 <td id="ROW<%=value._id%>"><%=value.orderStatus%></td>
						   <%}%>
						   
							   
							   
					   
					   
					   <td class="dateData" id="<%=value._id%>" value="'<%=value.orderDate%>'"></td>
					   <td  id='button<%=value._id%>'> <a href="" data-toggle="modal" data-target="#exampleModalCenter000" onclick="openDetailsModal('<%=value._id%>','<%=value.orderStatus%>','<%=value.paymentStatus%>')">view details</a></td>
					   
				   
						   </tr>
						 
						
					   <%})%>
						<%}else{%>
							<%valueOne.OrderedProducts.forEach((value)=>{%>
								
								<tr  style="text-align: center; background-color: rgb(250, 250, 250);">
						   
						   <td><img src="/proimgs/<%=value.productId.image[2]%>" alt="User Image"></td>
						   <td><%= value.productId.product_name %></td>
						   <%if(value.orderStatus=='Canceled'){%>
							   <td>00.0</td>
							   <%}else{%>
								<%if(valueOne.couponPercentage){%>
									<td>Offer Price <br><%= value.productId.price-value.productId.price*(valueOne.couponPercentage/100)%></td>
									<%}else{%>
										<td id="p<%=value._id%>"><%=valueOne.TotalAmount%></td>
									<%}%>
								
							   <%}%>
						   <%if(value.returnRequest==true && value.orderStatus!=='Return'){%>
							   <td id="req<%=value._id%>">Requested return</td>
							   <%}else{%>
								   <td id="ROW<%=value._id%>"><%=value.orderStatus%></td>
							   <%}%>
							   
				
						   <td class="dateData" id="<%=value._id%>" value="'<%=value.orderDate%>'"></td>
						   <%if(value.returnRequest==true){%>
							<td id='button<%=value._id%>'>view details</td>
							<%}else{%>
								<td id='button<%=value._id%>'> <a href="" data-toggle="modal" data-target="#exampleModalCenter000" onclick="openDetailsModal('<%=value._id%>','<%=value.orderStatus%>','<%=value.paymentStatus%>')">view details</a></td>
								<%}%>
						   
					   
							   </tr>
						   <%})%>
						
						
						
						<%}%>
					
				<%})%>
					
               
				
            </tbody>
			
        </table>
		
				<%}else{%>
					<p>Order not found...    Please make orders  <a href="/product">click</a></p><%}%>
    </div>

   
</div>

								  

								    <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
										<div class="row">
										<%if(addressFound){%>
										<%datas.addresses.forEach((value)=>{%>
								    
								    		<div class="col-lg-6" id="<%=value._id%>">
								    			<div class="card card-dashboard">
								    				<div class="card-body">
														
								    					<h3 class="card-title">Address</h3>
														<p>name: <%=value.name%> <br>
															address: <%=value.address%> <br>
															email: <%=value.email%> <br>
															country: <%=value.country%> <br>
															city: <%=value.city%> <br>
															state: <%=value.state%> <br>
															pincode: <%=value.pincode%> <br>
															phone: <%=value.phone%> <br>
														
														</p>
														
														<a href="/editAddressrender?id=<%=value._id%>">Edit<i class="icon-edit"></i></a> &nbsp; &nbsp;
														<a  style="color:  #ff01019a;" onclick="return deletefn('<%=value._id%>')" >Delete <i class="fa fa-trash-o"></i></a></p>
								    				</div><!-- End .card-body -->
								    			</div><!-- End .card-dashboard -->
								    		</div><!-- End .col-lg-6 -->
											<%})%>
								    	<%}else{%>
											<p><%=message%></p>	
											<%}%>
								    	</div><!-- End .row -->
										
										<a href="/EditAddress" id="clickone" class="btn btn-outline-primary-2">
											<span>Add Address</span>
											<i class="icon-long-arrow-right"></i>
										</a>
								    </div><!-- .End .tab-pane -->
									<div class="tab-pane fade" id="tab-downloads" role="tabpanel" aria-labelledby="tab-downloads-link">
										<div class="row">
										
								    <%if(coupon){%>
										<%coupon.forEach((value)=>{%>
											
											
								    		<div class="col-lg-6" >
								    		
								    				
														<div class="coupon-card" >
															<div class="card-body" style="text-align: center;">
																<h3 class="card-title" style="color: hwb(35 38% 22%);"><%=value.name%></h3>
																<div class="coupon-details">
																	
																	<p  style="color: hwb(35 38% 22%);"><strong>Code:</strong><span style="background-color: hwb(35 38% 22%);color: black;cursor: pointer;" onclick="copyData('<%=value._id%>')" id="copyData<%=value._id%>"><%=value.code%></span>  <span id="copied<%=value._id%>"></span></p>
																	<p style="color: hwb(35 38% 22%);"><strong>Minimum Amount:</strong> <%=value.minAmount%></p>
																	<p style="color: hwb(35 38% 22%);"><strong>Maximum Amount:</strong><%=value.maxAmount%></p>
																	<p style="color: hwb(35 38% 22%);"><strong>Discount Percentage:</strong> <%=value.discountAmount%> %</p>
																</div>
															</div><!-- End .card-body -->
														</div><!-- End .col-lg-6 -->			
											</div>
												
											<%})%>
											<%}else{%>
												<p>No  coupon available</p>
												<%}%>
											
								    	</div><!-- End .row -->
										
										
								    </div><!-- .End .tab-pane -->
									<div class="tab-pane fade" id="tab-wallet" role="tabpanel" aria-labelledby="tab-wallet-link">
										<div class="col-lg-6" >
											
											<%if(fullData){%>
												
											<div class="wallet-container">
												<h3>Wallet</h3>
												<div class="wallet-balance">
													Balance: <span id="walletBalance"><%=fullData.totalAmount%></span>
												</div>
												<div class="transaction-history">
													<h6 style="text-align: center ;">Transaction History</h6>
													<%fullData.transactions.forEach((value)=>{%>
														
														<%if(value.type=='CREDIT'){%>
															<p style="text-align: center;"><span><%=value.timeStamp.toLocaleDateString()%></span>&nbsp; &nbsp; &nbsp;<span><%=value.type%></span>&nbsp; &nbsp; &nbsp;<span>+<%=value.amount%></span>&nbsp; &nbsp; &nbsp;<span> <%=value.description%> </span></p>
															<%}else{%>
																<p><span>DEBIT </span><span style="margin-left: 10rem;"> - <%=value.amount%></span></p>
																
																<%}%>
													<%})%>
													
													
													
												</div>
												<div class="pagination-area mt-50 mb-50" >
													
														<ul class="pagination justify-content-center" >
															
															<%for(i=1;i<=fullData.totalPages;i++){%>
															<li class="page-item active"><a class="page-link" href="/personalInfo?page=<%=i%>#tab-wallet"><%=i%></a></li>
																<%}%>
															
														</ul>
												
												</div> 
												<button id="addMoney" data-toggle="modal" data-target=".bd-example-modal-sm">Add Money</button>
												<!-- <button id="withdrawMoney">Withdraw Money</button> -->

												<!-- modal for add money -->

												<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
												  <div class="modal-dialog modal-sm">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title" id="exampleModalLongTitle" >Razorpay</h5>
															<a id="mclose" style=" margin-top: 1px;" type="button" class="close" data-dismiss="modal" aria-label="Close">
																<span style="color: black;" aria-hidden="true">&times;</span>
															</a>
															
														</div>
														<form action="" >
															<label id="errorpay" for="payment">Enter Amount</label><br>
															
															<input type="text" id="payment" name="payment">
															<hr style="margin: 0.5rem;">
															<input class="btn btn-outline-primary-2 btn-primary" onclick="return addmoney(payment)" type="button" value="Proceed">
														</form>
													
													</div>
												  </div>
												</div>
												<!-- modal for add money -->
											</div>
											<%}else{%>
												<p>Wallet not found</p>
												<%}%>
										</div>

									</div>

								   
									
								</div>
	                		</div><!-- End .col-lg-9 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
 
		</main><!-- End .main -->


		
  <!-- Button trigger modal -->

  
  <!-- Modal  -->
  <div class="modal fade" id="exampleModalCenter000" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	  <div class="modal-content">
		<div >
			<!-- <h5 class="modal-title" id="exampleModalLongTitle">View details</h5> -->
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="width: 5vh;height: 5vh;">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		
		  
				
				
		<div class="modal-body">
			<p id="shabeeb"></p>
		  <div class="container pl-5">
			<h4>User Info</h4>
			<div class="pl-5" style="width: 60vh;">
				
				
				<span >NAME :</span><br>
				<span>EMAIL :</span> <br>
				<span>ADDRESS:</span> <br>
				<span>CITY:</span> <br>
				<span>STATE:</span> <br>
				<span>COUNTRY:</span> <br>
				<span>PIN CODE:</span> <br>
				<span>PHONE :</span> <br>
				<h6>Payment</h6>
				<span > PAYMENT METHOD:</span><br>
				<span> STATUS:</span><br><br>
				<h6>Product info</h6>
				<IMG style="width: 25vh; height: 28vh;"> </IMG><br>
				<span ></span><br>
				<span ></span><br>
				<span ></span><br>
				<span ></span><br>
				<span ></span><br> 
				<div style="display: flex; flex-direction: row; ">
				<a  class="btn btn-outline-primary-2" >Return</a> &nbsp;
				<button  class="btn btn-outline-primary-2" >Cancel order</button>
				<button class="btn btn-outline-primary-2 btn2" style="display: none;" >Pay Now</button>
				<button class="btn btn-outline-primary-2 btn3" style="display: none;  margin-left: 1rem;" >Invoice</button>
			</div>
				<br>
			</div>
			
		  </div>
		 
		
		
		</div>
	
				
	
		
	  </div>
	</div>
  </div>

	</div>
<!-- reason modal starts -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button> -->


<div class="modal fade" id="exampleModal111" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" >
    <div class="modal-content" style="padding:2rem">
      <div class="modal-header">
       <h4>REASON</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    
        <form  id="reason" method="post">
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text" name="reason"></textarea>
          </div>
       
   
      <div class="modal-footer">
        
        <button type="submit" class="btn btn-outline-primary-2"  id="subButton">Send message</button>
      </div>
	</form>
    </div>
  </div>
</div>
<!-- reason modal ends-->








<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
	function addmoney(payment){
		if(payment.value.trim()==='' || payment.value !== 'number' && isNaN(payment.value)) {
			document.getElementById('errorpay').innerHTML='Type Correct Amount'
			document.getElementById('errorpay').style.color='red'
			return 
		}else{
			let pay=Number(payment.value)
		
			fetch('/razorpay?total='+pay,{method:"post", headers: {'Content-Type': 'application/json'}})
					.then(response => response.json())
					.then(res => {

						
					if (res.success) {
						
					var options = {
						"key": res.key_id,
						"amount": res.amount,

						"currency": "INR",
						"name": res.product_name,
						"description": res.description,
						"image": "https://dummyimage.com/600x400/000/fff",
						"order_id": res.order_id,
						"handler": function (response){
										document.getElementById('mclose').click()
									    fetch('/addMoneyToWallet?payment='+pay,{method:'post'})
										.then((response=>response.json()))
										.then((msg)=>{
											
											if(msg==='success'){
												console.log("success")
												window.location.reload()
											}
										})
									},
									"prefill": {
										"contact": res.contact,
										"name": res.name,
										"email": res.email
									},
									"notes" : {
										"description": res.description
									},
									"theme": {
										"color": "#2300a3"
									}
								};
								var razorpayObject = new Razorpay(options);
								razorpayObject.on('payment.failed', function (response){
									razorpayObject.close();
									
									

								});
								razorpayObject.open();
							}
					})
					.catch((error) => {
						console.error('Error:', error);
					});

		}
		

	}








		window.onload=function(){
		const dateTags=document.getElementsByClassName('dateData')
		
		for(i=0;i<dateTags.length;i++){
			const date=new Date(dateTags[i].getAttribute('value'))
			const id=dateTags[i].getAttribute('id')
			const formattedDate = `${date.getDate()}-${date.getMonth() + 1}-${date.getFullYear()}`;
			document.getElementById(id).innerHTML=formattedDate
			
		}

		
		if(window.location.hash=='#tab-wallet'){
			document.getElementById('tab-wallet-link').click()
		}
		else if(window.location.hash=='#tab-orders'){
			document.getElementById('tab-orders-link').click()
		}
		
		

		
		}








		function openDetailsModal(rowid,status,paymentStatus) {
			$('#exampleModalCenter000').modal('show');
		
fetch('/productDetailsInOrder?id=' + rowid, { method: "post" })
    .then(res => res.json())
    .then(res => {

        const userInfo = res.result[0];

        // Update shipping address information
        document.querySelector('.pl-5 span:nth-of-type(1)').textContent = `NAME : ${userInfo.shippingAddress.name}`;
        document.querySelector('.pl-5 span:nth-of-type(2)').textContent = `EMAIL : ${userInfo.shippingAddress.email}`;
        document.querySelector('.pl-5 span:nth-of-type(3)').textContent = `ADDRESS : ${userInfo.shippingAddress.address}`;
        document.querySelector('.pl-5 span:nth-of-type(4)').textContent = `CITY : ${userInfo.shippingAddress.city}`;
        document.querySelector('.pl-5 span:nth-of-type(5)').textContent = `STATE : ${userInfo.shippingAddress.state}`;
        document.querySelector('.pl-5 span:nth-of-type(6)').textContent = `COUNTRY : ${userInfo.shippingAddress.country}`;
        document.querySelector('.pl-5 span:nth-of-type(7)').textContent = `PIN CODE : ${userInfo.shippingAddress.pincode}`;
        document.querySelector('.pl-5 span:nth-of-type(8)').textContent = `PHONE : ${userInfo.shippingAddress.phone}`;
        document.querySelector('.pl-5 span:nth-of-type(9)').textContent = `PAYMENT METHOD : ${userInfo.paymentMethod}`;
        document.querySelector('.pl-5 span:nth-of-type(10)').textContent = `STATUS : ${userInfo.paymentStatus}`;
        document.querySelector('.pl-5 img').src = `/proimgs/${userInfo.productId.image[2]}`;
        document.querySelector('.pl-5 span:nth-of-type(11)').textContent = `PRODUCT NAME : ${userInfo.productId.product_name}`;
        document.querySelector('.pl-5 span:nth-of-type(12)').textContent = `PRODUCT SIZE : ${userInfo.productId.size}`;
        document.querySelector('.pl-5 span:nth-of-type(13)').textContent = `BRAND : ${userInfo.productId.brand}`;
        document.querySelector('.pl-5 span:nth-of-type(14)').textContent = `DESCRIPTION : ${userInfo.productId.Description}`;
        document.querySelector('.pl-5 span:nth-of-type(15)').textContent = `STANDARD PRICE : ${userInfo.productId.price}`;


        const cancelButton = document.querySelectorAll('.pl-5 button')[0];
        cancelButton.setAttribute('onclick', `cancelproduct('${status}', '${userInfo._id}')`);
        cancelButton.setAttribute('id', `b${rowid}`);
        cancelButton.style.display = 'block';
        cancelButton.removeAttribute('disabled');
        cancelButton.innerHTML = 'Cancel Order';

        const returnLink = document.querySelector('.pl-5 a');
        returnLink.setAttribute('onclick', `returnProduct('${status}', '${userInfo._id}')`);
        returnLink.setAttribute('id', `rs${rowid}`);
        returnLink.style.display = 'block';
        returnLink.removeAttribute('disabled');
        returnLink.innerHTML = 'Return Product';

        const payNowButton = document.querySelectorAll('.pl-5 button')[1];
        payNowButton.setAttribute('onclick', `failedPayNow('${status}', '${userInfo._id}')`);
        payNowButton.setAttribute('id', `pn${rowid}`);
        payNowButton.style.display = 'none';


        const Invoice = document.querySelectorAll('.pl-5 button')[2];
        Invoice.setAttribute('onclick', `Invoice('${userInfo._id}')`);
        Invoice.setAttribute('id', `Invoice${rowid}`);
        Invoice.style.display = 'none';

        if (status == "Canceled") {
            cancelButton.setAttribute('disabled', 'true');
            cancelButton.innerHTML = 'Canceled';
            returnLink.style.display = 'none';
        } else if (status == "Placed") {
			
            cancelButton.removeAttribute('disabled');
            cancelButton.innerHTML = 'Cancel Order';
            returnLink.style.display = 'none';
			if (paymentStatus === "Paid") {
                    Invoice.style.display = 'block';
					
                }
        } else if (status == "Delivered") {
                returnLink.removeAttribute('disabled');
                cancelButton.style.display = 'none';
				if (paymentStatus === "Paid") {
                    Invoice.style.display = 'block';
					
                }
        } else if (status == "Pending") {
            returnLink.style.display = 'none';
            cancelButton.style.display = 'none';
            payNowButton.style.display = 'block';
        } else if (status == "Processing") {
            returnLink.style.display = 'none';
            cancelButton.style.display = 'block';
        } else if (status == "Return") {
            returnLink.removeAttribute('disabled');
            cancelButton.style.display = 'none';
            returnLink.innerHTML = 'Returned';
        } else if (status == "Shipping") {
            returnLink.style.display = 'none';
            cancelButton.style.display = 'block';
        }
    });


	
}
function Invoice(id){
	// fetch('/invoice?id='+id,{method:'get'})
	
	window.location.href = '/invoiceRender?id=' + id;
}






function failedPayNow(status,rowid){
	$('#exampleModalCenter000').modal('hide');

	Swal.fire({
        title: "Payment",
        text: "Pay for every products in this order?",
        icon: "question",
        showCancelButton: true,
        confirmButtonText: "Yes, pay now!",
        cancelButtonText: "Cancel"
    }).then((result) => {
        if (result.isConfirmed) {
			
	
	fetch('/failedPayNow?id='+rowid,{method:'post'})
	.then(res=>res.json())
	.then((data)=>{
	
					fetch('/razorpay?total='+data.data.TotalAmount,{method:"post", headers: {'Content-Type': 'application/json'}})
					.then(response => response.json())
					.then(res => {

						
					if (res.success) {
						
					var options = {
						"key": res.key_id,
						"amount": res.amount,

						"currency": "INR",
						"name": res.product_name,
						"description": res.description,
						"image": "https://dummyimage.com/600x400/000/fff",
						"order_id": res.order_id,
						"handler": function (response){
							fetch('/failedPaymentRetry?id='+rowid,{method:'post'})
							.then(response=>response.json())
							.then((data)=>{
								
								if(data.status=="Payment Success"){
									window.location.href = '/razorpayError?status=success';

								}
							})
									},
									"prefill": {
										"contact": res.contact,
										"name": res.name,
										"email": res.email
									},
									"notes" : {
										"description": res.description
									},
									"theme": {
										"color": "#2300a3"
									}
								};
								var razorpayObject = new Razorpay(options);
								razorpayObject.on('payment.failed', function (response){
									razorpayObject.close();
									window.location.href = '/razorpayError?status=faile';
									

								});
								razorpayObject.open();
							}
					})
					.catch((error) => {
						console.error('Error:', error);
					});
	})
   
           
        }
    });




}







function returnProduct(status,rowid){
			
		// document.getElementById('subButton').setAttribute('data-dismiss','modal')
		$('#exampleModalCenter000').modal('hide')
	swal.fire({
        title: "Are you sure?",
    text: "Do you want to return this product?",
    icon: "warning",
    showCancelButton: true, 
    confirmButtonText: "Yes, return it", 
    cancelButtonText: "No, keep it",
    confirmButtonColor: "#c69c61",
    cancelButtonColor: "#c69c61",
    })
    .then((result) => {
    if (result.value) {
	
	
		document.getElementById('reason').setAttribute('action','/reasonSubmit?orderId='+rowid)
		var reasonmodal=document.getElementById('exampleModal111')
		var modal = new bootstrap.Modal(reasonmodal)
		modal.show();
		document.getElementById('subButton').addEventListener('click',()=>{
		
			reasonSub(`${rowid}`)
		})
		
	
    } else{
		swal.fire({
    title: "Cancelled",
    text: "Product is not returned.",
    icon: "info",
    timer: 1000, 
    showConfirmButton: false
});
        
    }
});

}
function reasonSub(rowid){
	
	
		fetch('/returnProduct?id='+rowid,{method:'post'}) 
		if(document.getElementById('req'+rowid)){
			document.getElementById("rs"+rowid).innerHTML="Return Requested";
		if(document.getElementById('req'+rowid).innerHTML=='Return Requested'){
			document.querySelector('.pl-5 a').innerHTML='Return Requested';
			document.querySelector('.pl-5 a').style.marginBottom="5vh"
			document.querySelector('.pl-5 a').classList.add('disabled');
			document.querySelector('.pl-5 button').style.display='none'
		}
		}
    }


 function cancelproduct(status,rowid){
	swal.fire({
        title: "Are you sure?",
    text: "Do you want to remove this product from your order?",
    icon: "warning",
    showCancelButton: true, 
    confirmButtonText: "Yes, remove it", 
    cancelButtonText: "No, keep it",
    confirmButtonColor: "#c69c61",
    cancelButtonColor: "#c69c61",
    })
    .then((result) => {
    if (result.value) {
        fetch('/removeproductorder?id='+rowid,{method:'post'})
		document.getElementById("b"+rowid).innerHTML='Canceled'	
		document.getElementById("b"+rowid).setAttribute('disabled', 'true');
		document.getElementById("p"+rowid).innerHTML='00.0'	
		document.getElementById("rs"+rowid).style.display='none'			
    } else{
		swal.fire({
    title: "Cancelled",
    text: "Product is not removed from your order.",
    icon: "info",
    timer: 1000, 
    showConfirmButton: false
});
        
    }
});
const rowone=document.getElementById("ROW"+rowid).innerHTML="Canceled"
}

function deletefn(id){
			Swal.fire({
                title: 'Are you sure?',
                text: `Do you want to delete ?`,
                icon: 'warning',
                showCancelButton:true,
                confirmButtonText: 'Yes,delete it',
            }).then((result) => {
                if (result.isConfirmed) {
					fetch('/deleteAddress?id='+id,{method:'delete'})
					const row=document.getElementById(id)
					row.style.display='none';
                    return true
					
                }else{
					return false
				} 
            });
     
			
		}
	</script>
	<script>
		
		function validateForm() {
			
			const name = document.getElementById('name').value.trim();
			const email = document.getElementById('email').value.trim();
			const phone = document.getElementById('phone').value.trim();
	
			document.getElementById('nameError').textContent = '';
			document.getElementById('emailError').textContent = '';
			document.getElementById('phoneError').textContent = '';
	
			if (name === '') {
				document.getElementById('nameError').textContent = 'Name is required';
				return false;
			}
	
			if (email === '') {
				document.getElementById('emailError').textContent = 'Email is required';
				return false;
			} else if (!isValidEmail(email)) {
				document.getElementById('emailError').textContent = 'Invalid email format';
				return false;
			}
	
	
			if (phone === '') {
				document.getElementById('phoneError').textContent = 'Phone is required';
				return false;
			} else if (!isValidPhone(phone)) {
				document.getElementById('phoneError').textContent = 'Invalid phone number';
				return false;
			}
	
			
			return true;
		}
	
		
		function isValidEmail(email) {
			const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
			return emailRegex.test(email);
		}
	
		
		function isValidPhone(phone) {
			const phoneRegex = /^\d{10}$/; 
			return phoneRegex.test(phone);
		}

		if('<%=form%>'){
			Swal.fire({
                title: 'INFO',
				text: "<%=form%>",
                icon: 'warning',
                
            })
		}
		if('<%=pass%>'){
			Swal.fire({
                
				text: "<%=pass%>",
                icon: 'success',
                
            })
		}



		
    function passvalidateForm() {
      
        const password = document.getElementById('newpassword').value;
        const rePassword = document.getElementById('repassword').value;
		document.getElementById('passwordError').textContent = '';
		document.getElementById('repasswordError').textContent = '';
		document.getElementById('repas').textContent = '';
		
	
        if (!password) {
            document.getElementById('passwordError').textContent = 'Enter password.';
            return false;
        }
        if (!rePassword) {
		
            document.getElementById('repasswordError').textContent = 're-enter password.';
            return false;
        }
        if (password !== rePassword) {
            document.getElementById('repas').textContent = 'Passwords do not match.';
            return false;
        }
        if (password.length < 6) {
            document.getElementById('repas').textContent = 'Password must be at least 6 characters long.';
            return false;
        }
        return true;
    }



	function copyData(id){
		const copied=document.getElementById('copied'+id)
		const copyText=document.getElementById('copyData'+id)
         navigator.clipboard.writeText(copyText.innerHTML).then(function() {
		
	     copied.textContent = 'Copied!';
      setTimeout(() => {
        copied.style.display='none'
      }, 1000); 


    }).catch(function(error) {
        console.error("Error copying text: ", error);
    });
	}
</script>
<script>
	document.getElementById('reason').addEventListener('submit', function(event) {
		var messageText = document.getElementById('message-text').value.trim();
	
		if (messageText === '') {
			swal.fire({
        title: "Please enter a reason?",
        icon: "warning"
    })
			event.preventDefault();
		}else{
			var reasonmodal=document.getElementById('exampleModal111')
		var modal = new bootstrap.Modal(reasonmodal)
		modal.hide();
		}
	});
	</script>
	


	



 <%-include('../layouts/userfooter')%>     